@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if ((User.Identity?.IsAuthenticated).GetValueOrDefault())
        {
            <p>There were some problems when logout, try refreshing the page or try again later.</p>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
