@page "{collection}"
@model Detrav.Launcher.Server.Areas.Admin.Pages.Files.DeleteCollectionModel
@{
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Index">Admin area</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Files/ListCollections">Files Collections</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-page="/Files/DeleteCollection" asp-route-collection="@Model.CollectionName">Delete - @Model.CollectionName</a></li>
    </ol>
</nav>

@if (@Model.CollectionName != null)
{
    <h1 class="display-4">
        @Model.CollectionName
    </h1>
    <h2 class="text-center">
        Are you sure you want to delete?<br />
        This action cannot be undone!
    </h2>
    <p>
        <form method="post">
            <button class="btn btn-danger w-100" type="submit">Delete</button>
        </form>
    </p>
}